.filter-info {
	text-align: left;
}

#filter-fieldset .content {
	padding: 10px;
}

.heading {
	color: #44749d;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	border-bottom: 4px solid #44749d;
}

.right {
	float: right;
	width: 50%;
}

.left {
	float: left;
	width: 50%;
}

.question {
	font-weight: bold;
}