body {
	min-width: 600px;
}

.filter-info {
	text-align: left;
}

.div-space {
	clear: both;
	height: 40px;
}

.filter-fieldset .content {
	padding: 10px;
}

.heading {
	color: #44749d;
	font-weight: bold;
	font-size: 20px;
	clear: both;
	text-transform: uppercase;
	border-bottom: 4px solid #44749d;
}

.right {
	float: right;
	width: 45%;
}

.left {
	float: left;
	width: 45%;
}

.full {
	width: 100%;
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
}

.question {
	font-weight: bold;
	font-size: 18px;
}

.answer {
	padding-top: 10px;
}

.content {
	font-size: 18px;
}

.subtext {
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 5px;
}

/*----------------- radio ---------------*/

/*radio fieldset*/
.label_check, .label_radio {
	padding-left: 25px;
	cursor: pointer;
}

.label_radio {
	margin-right: 20px;
	background: url(../img/radio-off.png) no-repeat;
}

.label_check {
	background: url(../img/check-off.png) no-repeat;
}

label.c_on {
	background: url(../img/check-on.png) no-repeat;
}

label.r_on {
	background: url(../img/radio-on.png) no-repeat;
}

.label_check input, .label_radio input {
	position: absolute;
	left: -9999px;
}

/* selector */
select {
	width: 100%;
	padding: 5px;
	margin: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 0 #44749d, 0 -1px #fff inset;
	-moz-box-shadow: 0 3px 0 #44749d, 0 -1px #fff inset;
	box-shadow: 0 3px 0 #405a73, 0 -1px #fff inset, 0 0 3px 0.5px
		rgba(68, 116, 157, 0.4);
	background: #f8f8f8;
	border: none;
	outline: none;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

select.select_mutiple {
	height: 130px;
}

label.label_listbox_mutiple:after {
	right: 8px;
	top: 3px;
	padding: 0 0 2px;
	border-bottom: 1px solid #ddd;
	position: absolute;
	pointer-events: none;
}

/* Targeting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	select {
		padding-right: 18px
	}
}

label.label_listbox {
	position: relative
}

label.label_listbox:after {
	content: '<>';
	font: 14px "Consolas", monospace;
	color: #aaa;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	right: 8px;
	top: 3px;
	padding: 0 0 2px;
	border-bottom: 1px solid #ddd;
	position: absolute;
	pointer-events: none;
}

label.label_listbox:before {
	content: '';
	right: 10px;
	top: 0px;
	width: 20px;
	height: 20px;
	background: #f8f8f8;
	position: absolute;
	pointer-events: none;
	display: block;
}

/* end selector */