.homepage-main {
	background: url("../img/school-item-texture.jpg");
}

.homepage-main-bg {
	/* Set rules to fill background */
	min-height: 100%;
	height: auto;
	padding-left: 50px;
	padding-top: 20px;
	width: 40%;
}

.homepage-introduce {
	float: right;
	color: #ffffff;
	text-align: center;
	margin-right: 50px;
	margin-top: 70px;
	width: 40%;
}

.homepage-introduce .p-title {
	font-size: 80px;
}

.homepage-introduce .p-subtitle {
	font-size: 30px;
}

@media screen and (max-width: 768px) {
	/* Specific to this particular image */
	.homepage-main-bg {
		display: none;
	}
	.homepage-main {
		padding: 0;
	}
	.homepage-introduce {
		background: url("../img/school-item-texture.jpg");
		float: none;
		color: #ffffff;
		text-align: center;
		margin: 0px 0px 0px 0px;
		width: 40%;
		padding: 0px 0px 0px 0px;
		padding-bottom: 40px;
		width: 100%;
	}
	.homepage-introduce .p-title {
		font-size: 50px;
		padding: 0;
		padding-top: 40px;
		margin: 0;
	}
	.homepage-introduce .p-subtitle {
		font-size: 20px;
		padding: 0;
		padding-top: 10px;
		margin: 0;
	}
}