@import
	url(http://fonts.googleapis.com/css?family=Open+Sans:700&subset=latin,vietnamese)
	;

html {
	background: linear-gradient(rgba(0, 100, 200, 0.1),
		rgba(0, 100, 200, 0.1)) repeat scroll 0% 0%, url("../img/gs.png")
		repeat scroll 0% 0% transparent;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

section.colorstyle1 {
	color: #FFF;
	background: linear-gradient(rgba(0, 100, 200, 0.1),
		rgba(0, 100, 200, 0.1)) repeat scroll 0% 0%, url("../img/gs.png")
		repeat scroll 0% 0% transparent;
}

section.colorstyle2 {
	color: #FFF;
	background: #FF9966 none repeat scroll 0% 0%;
}

section.colorstyle3 {
	color: #FFF;
	background: #3399FF none repeat scroll 0% 0%;
}

section.colorstyle1 hr.star-light:after {
    color: #fff;
	background: linear-gradient(rgba(0, 100, 200, 0.1),
		rgba(0, 100, 200, 0.1)) repeat scroll 0% 0%, url("../img/gs.png")
		repeat scroll 0% 0% transparent;
}

#nav-menu {
	background: #44749d;
	width: auto;
}

#nav-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1;
	display: block;
	zoom: 1;
}

.nav-menu-ul {
	border-bottom: 5px solid #c6d4e1;
}

#nav-menu ul:after {
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}

#nav-menu ul li {
	display: inline-block;
	padding: 0;
	margin: 0;
}

#nav-menu.align-right ul li {
	float: right;
}

#nav-menu.align-center ul {
	text-align: center;
}

#nav-menu ul li a.menu {
	color: #c6d4e1; /* ' a ' in nav-bar */
	text-decoration: none;
	display: block;
	padding: 15px 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	position: relative;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-ms-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}

#nav-menu ul li a.menu:hover {
	color: #ffffff;
}

#nav-menu ul li a.menu:hover:before {
	width: 100%;
}

#nav-menu ul li a.menu:after { /*white dot between menu*/
	content: "";
	display: block;
	position: absolute;
	right: -3px;
	top: 19px;
	height: 6px;
	width: 6px;
	background: #ffffff;
	opacity: .5;
}

#nav-menu ul li a.menu:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 0;
	background: #ffffff;
	-webkit-transition: width .25s;
	-moz-transition: width .25s;
	-ms-transition: width .25s;
	-o-transition: width .25s;
	transition: width .25s;
}

#nav-menu ul li.last>a.menu:after, #nav-menu ul li:last-child>a.menu:after
	{
	display: none;
}

#nav-menu ul li.active a.menu {
	color: #ffffff;
}

#nav-menu ul li.active a.menu:before {
	width: 100%;
}

#nav-menu.align-right li.last>a.menu:after, #nav-menu.align-right li:last-child>a.menu:after
	{
	display: block;
}

#nav-menu.align-right li:first-child a.menu:after {
	display: none;
}

@media screen and (max-width: 768px) {
	#nav-menu ul li {
		float: none;
		display: block;
	}
	#nav-menu ul li a.menu {
		width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		border-bottom: 1px solid #c6d4e1;
	}
	#nav-menu ul li.last>a.menu, #nav-menu ul li:last-child>a.menu {
		border: 0;
	}
	#nav-menu ul li a.menu:after {
		display: none;
	}
	#nav-menu ul li a.menu:before {
		display: none;
	}
	#nav-menu div {
		padding-left: 10px;
		padding-top: 10px;
		float: none;
	}
}