body, html {
	padding: 0px;
	margin: 0px;
	height: 100%;
	min-width: 720px;
}

.home-page {
	background: url("../img/gs2.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
	padding: 0;
	height: auto;
	padding-top: 10px;
	padding-bottom: 30px;
}

div#viewport {
	position: absolute;
	width: 100%;
	top: 0px;
}

#viewport {
	position: relative;
	width: 100%;
	min-height: 100%;
}
