.content-section {
	color: #FFF;
	/*background: #00CAD8 none repeat scroll 0% 0%;
	*/
	background: url("../img/gs3.jpg");
	background-repeat: repeat-y;
	padding-top: 60px;
	padding-bottom: 60px;
}